[submodule "external/slang"]
	path = external/slang
	url = https://github.com/Enjimneering/slang-uvm.git
[submodule "external/reflect-cpp"]
	path = external/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "external/ctre"]
	path = external/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "tests/data/uvm_support/uvm"]
	path = tests/data/uvm_support/uvm
	url = https://github.com/jrudess/uvm-slang.git
